<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <h3>Olá, {{name}}</h3>
  <p>Sua aula foi concluida com sucesso!.</p>
  <p>Já depositamos os valores no sua conta através do pix cadastrado no portal.</p>

  <div>
    <p>Alguns dados referente a esse agendamento</p>
    <p>Disciplina: {{title}}</p>
    <p>Data: {{date}}</p>
    <p>Valor: {{valor}}</p>
    <p>Aluno: {{aluno}}</p>
  </div>
  <br>

  <p>Em caso de dúvidas ou problemas, contatar suporte.</p>

  <p>
    <strong>Equipe WebEduca agradece!</strong>
  </p>
</div>
